hr {
  border: 2px solid #8c8b8b;
  width: 80%;
  border-radius: 10px;
  margin: 5px 0 0 11px;
  border-color: white;
  border-radius: 100px;
}

.TenDay {
  // background: #e5e5e5;
  // background: -moz-linear-gradient(top,  #e5eace 0%, #ffffff 100%);
  // background: -webkit-linear-gradient(top,  #e5eace 0%,#ffffff 100%);
  // background: linear-gradient(to bottom,  #e5eace 0%,#ffffff 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5eace', endColorstr='#ffffff',GradientType=0 );
  // border-radius: 10px;
  // box-shadow: 0px 20px 30px 0px black;
  // &:hover {
  //   box-shadow: 0px 10px 15px 0px black;      
  // }
  margin: 0px auto 40px; 
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  transition: 500ms;
  // justify-content: space-between;

  .card-container {
    width: 1015px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;  
  }
}

.ten-day-day {
  font-size: 18px;
  text-align: center;
  color: #4d7ea8;
  font-weight: bold;
  margin-top: 4px;
}

.ten-day-icon {
  height: 80px;
  margin-left: 20px;
}

.ten-day-temp-high {
  font-size: 35px;
  color: #4d7ea8;
  font-weight: bold;
}

.ten-day-temp-low {
  font-size: 35px;
  color: #4d7ea8;
  font-weight: lighter;
  opacity: 0.7;
}

.ten-day-humid-high {
  font-size: 14px;
  margin: 5px 0 0 0px;
  color: #4d7ea8;
  font-weight: bold;
}

.ten-day-humid-low {
  font-size: 14px;
  margin: 5px 0 0 5px;
  color: #94b2cb;
  font-weight: lighter;
  opacity: 0.9;
}

.ten-day-wind-speed {
  font-size: 14px;
  margin: 5px 5px 0 0px;
  color: #4d7ea8;
  font-weight: bold;
}

.ten-day-wind-direction {
  font-size: 14px;
  margin: 5px 0px 0 0px;
  color: #94b2cb;
  font-weight: lighter;
}

.ten-day-condition {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #4d7ea8;
}

.ten-day-temp-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ten-day-humid-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ten-day-wind-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 1135px) {
  .TenDay {
    .card-container {
      width: 870px;
    }
  }
}
@media screen and (max-width: 990px) {
  .TenDay {
    .card-container {
      width: 725px;
    }
  }
}

@media screen and (max-width: 845px) {
  .TenDay {
    .card-container {
      width: 580px;
    }
  }
}

@media screen and (max-width: 700px) {
  .TenDay {
    .card-container {
      width: 435px;
    }
  }
}
@media screen and (max-width: 555px) {
  .TenDay {
    .card-container {
      width: 290px;
    }
  }
}