.TenDay {
  background: #e5e5e5;
  background: -moz-linear-gradient(top,  #e5eace 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top,  #e5eace 0%,#ffffff 100%);
  background: linear-gradient(to bottom,  #e5eace 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5eace', endColorstr='#ffffff',GradientType=0 );
  height: 350px;
  margin: 0px 40px 40px 40px; 
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 0px black;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  transition: 500ms;
  font-size: 10px;
  &:hover {
    box-shadow: 0px 10px 15px 0px black;      
  }
}