h1 {
  font-size: 8px;
}

hr {
  border-top: 4px solid #8c8b8b;
  width: 80%;
  border-radius: 10px;
  margin-left: 11px;
  border-color: white;
}

.SevenHour {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  margin: 0px 40px 40px 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 20px 30px 0px black;  
  transition: 500ms;
  &:hover {
    box-shadow: 0px 10px 15px 0px black;      
  }
}

.seven-hour-hour {
  font-size: 18px;
  margin: 10px 0 0 27px;
}

.seven-hour-icon {
  height: 80px;
  margin-left: 20px;
}

.seven-hour-temp {
  font-size: 40px;
  margin: 0 0 0 35px;
}

.seven-hour-humidity {
  font-size: 16px;
  margin: 5px 0 0 13px;
}

.seven-hour-wind-speed {
  font-size: 18px;
  margin: 5px 5px 0 15px;
}

.seven-hour-wind-direction {
  font-size: 18px;
  margin: 5px 5px 0 5px;
}

.wind-style {
  display: flex;
  flex-direction: row;
}