h1 {
  font-size: 8px;
}

hr {
  border: 2x solid #8c8b8b;
  width: 80%;
  border-radius: 10px;
  margin-left: 11px;
  border-color: white;
  border-radius: 100px;
}

.SevenHour {
  // background: #e5e5e5;
  // background: -moz-linear-gradient(top,  #e5eace 0%, #ffffff 100%);
  // background: -webkit-linear-gradient(top,  #e5eace 0%,#ffffff 100%);
  // background: linear-gradient(to bottom,  #e5eace 0%,#ffffff 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5eace', endColorstr='#ffffff',GradientType=0 );
  // border-radius: 10px;
  // box-shadow: 0px 20px 30px 0px black;  
  // &:hover {
  //   box-shadow: 0px 10px 15px 0px black;      
  // }
  margin: 0px auto 40px;
  padding: 10px;
  // justify-content: space-between;
  transition: 500ms;
  overflow: hidden;
  .card-container {
    transition: 500ms;
    width: 1015px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;  
  }
}

.seven-hour-hour {
  font-size: 18px;
  margin: 10px 0 0 27px;
  color: #4d7ea8;
  font-weight: bold;
}

.seven-hour-icon {
  height: 80px;
  margin-left: 20px;
}

.seven-hour-temp {
  font-size: 40px;
  margin: 0 0 0 35px;
  color: #4d7ea8;
  font-weight: bold;
}

.seven-hour-humidity {
  font-size: 16px;
  margin: 5px 0 0 13px;
  color: #94b2cb;
  font-weight: bold;
}

.seven-hour-wind-speed {
  font-size: 18px;
  margin: 5px 5px 0 15px;
  color: #94b2cb;
  font-weight: bold;
}

.seven-hour-wind-direction {
  font-size: 18px;
  margin: 5px 5px 0 5px;
  color: #94b2cb;
  font-weight: bold;
}

.wind-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seven-hour-container-title {
  text-align: center;
  font-size: 35px;
  margin: 0 0 10px 13px;
  font-family: sans-serif;
  font-weight: lighter;
  color: #3a5f7e;
}

@media screen and (max-width: 1135px) {
  .SevenHour {
    .card-container {
      width: 870px;
    }
  }
}
@media screen and (max-width: 990px) {
  .SevenHour {
    .card-container {
      width: 725px;
    }
  }
}

@media screen and (max-width: 845px) {
  .SevenHour {
    .card-container {
      width: 580px;
    }
  }
}

@media screen and (max-width: 700px) {
  .SevenHour {
    .card-container {
      width: 435px;
    }
  }
}
@media screen and (max-width: 555px) {
  .SevenHour {
    .card-container {
      width: 290px;
    }
  }
}
