.CurrentWeather {
  height: 350px;
  margin: 0px 40px 40px 40px; 
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 0px black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: 500ms;
  &:hover {
    box-shadow: 0px 10px 15px 0px black;
  }

  .weatherInfo {
    width: 25%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1{
      font-size: 40px;
      margin-bottom: -5px;
    }
    h2{
      font-size: 12px;
      margin-bottom: 15px;
    }
    h3{
      display: flex;
      align-items: center;
      span{
        font-size: 50px;
        color: red;
        margin-left: 5px;
      }
      &:nth-of-type(2) {
        span{
          color: blue;
        }
      }
    }
    
  }

  .temperature {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 125px;
      margin: 0px;
      text-align: center;
    }

  }

  .weatherIcon {
    width: 30%;
    height: 50%;
    text-align: center;
    vertical-align: bottom;
    i{
      font-size: 200px;
    }
  }

  .windInfo {
    width: 25%;
    height: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    p {
      width: 100%;
      height: 100%;
      font-size: 20px;
      padding-top: 20px;
      word-wrap: break-word;
    }
  }

  .extraInfo {
    width: 45%;
    height: 100%;
    padding: 10px;
    font-size: 40px;
    display: flex;
    align-items: center;
  }

  h1,
  h2 {
    margin: 0px;
  }
}