$main-color: #4D7EA8;

.Search {
  padding: 10px;
  margin: 0px auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 30px;
  width: 90%;
  box-sizing: border-box;

  .inputs {
    display: flex;
    width: 100%;
  }
  input {
    height: 40px;
    width: calc(100% - 210px);
    font-size: 30px;
    border-radius: 20px 0px 0px 20px;
    outline: none;
    padding: 5px 5px 5px 15px;
    transition: 500ms; 
    background-color: #a9c1d5;
    color: #4d7ea8;
    font-weight: bold;
    border: none;
    &::placeholder {
      color: #4d7ea8;
      text-align: center;
      font-weight: bold;
    }
    &:focus {
      box-shadow: inset 1px 1px 1px 1px black;
    }
  }

  input.not-found{
    &::placeholder {
      color: red;
    }
  }

  ul {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    
    li.highlight {
      background-color: rgba(128, 131, 131, 0.9);
    }
    li {
      background-color: rgba(169,193,213,0.85);
      display: inline-block;
      position: absolute;
      padding-left: 5px;
      height: 30px;
      font-size: 25px;
      width: 100%;
      &:hover{
        background-color: rgba(128, 131, 131, 0.9);
      }
      &:nth-child(1) {
        top: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;  
      }
      &:nth-child(2) {
        top: 30px;
      }
      &:nth-child(3) {
        top: 60px;
      }
      &:nth-child(4) {
        top: 90px;
      }
      &:nth-child(5) {
        top: 120px;
      }
      &:nth-child(6) {
        top: 150px;
      }
      &:last-child{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  button {
    width: 210px;
    font-size: 30px;
    border-radius: 0px 20px 20px 0px;
    border: none;
    outline: none;
    background-color: #7198b9;
    color: whitesmoke;
    transition: 500ms;
    &:hover {
      background-color: darken(#7198b9, 30%);
    }
    &:focus {
      background-color: darken(#7198b9, 50%);
    }
  }
}

@media screen and (max-width: 630px) {
  .Search {
    width: 95%;
    font-size: 20px;
    input {
      width: calc(100% - 150px);
      font-size: 20px;
      height: 30px;
    }
    button {
      width: 150px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 450px) {
  .Search {
    width: 99%;
    font-size: 14px;
    input {
      width: calc(100% - 120px);
      font-size: 14px;
    }
    button {
      width: 120px;
      font-size: 14px;
    }
  }
}