$main-color: #4D7EA8;

.Welcome {
  position: absolute;
  width: 60%;
  height: 40%;
  left: 20%;
  top: 30%;
  background-color: transparentize($main-color, .02);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 35px 35px 0px darken($main-color, 30%);
  transition: 800ms;
  &:hover {
    box-shadow: 0px 10px 10px 0px darken($main-color, 30%);

  }

  button.exit {
    background-color: red;
    position: absolute;
    top: 0;
    display: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: lighter;
    right: 0px;
    height: 25px;
    width:25px;
    border: none;
    border-top-right-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    box-shadow: 0px 0px 3px 3px white;
    &:hover {
      background-color: darken(red, 20%);
      box-shadow: inset 0px 0px 1px 1px black;
    }
  }
  
  h3 {
    font-size: 100px;
    color: white;
    text-align: center;
  }

}