$main-color: #4D7EA8;
@import url('https://fonts.googleapis.com/css?family=Cinzel');



.Welcome {
  position: absolute;
  width: 75%;
  height: 40%;
  left: 12.5%;
  top: 30%;
  background-color: transparentize($main-color, .02);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 35px 35px 0px darken($main-color, 30%);
  transition: 800ms;
  &:hover {
    box-shadow: 0px 10px 10px 0px darken($main-color, 30%);
  }
  
  h3 {
    font-size: 100px;
    margin: 0px;
    color: white;
    font-family: 'Cinzel', serif;    
    text-align: center;
  }

}

@media screen and (max-width: 900px){
  .Welcome {
    h3 {
      font-size: 80px;
    }
  } 
}
@media screen and (max-width: 750px){
  .Welcome {
    width: 90%;
    height: 30%;
    top: 10%;
    left: 5%;
    h3 {
      font-size: 60px;
    }
  } 
}

@media screen and (max-width: 465px){
  .Welcome {
    h3 {
      font-size: 45px;;
    }
  } 
}
@media screen and (max-width: 370px){
  .Welcome {
    h3 {
      font-size: 35px;
    }
  } 
}